<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>밥빙에 오신걸 환영합니다.</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="common/js/jquery.slideto.min2.js"></script>
<link href="common/css/wlogin2.css" rel="stylesheet">
<link rel="stylesheet" href="common/css/stylesMain_sub.css">

<script>
	$(function() {
		$('#slides').slidesjs({
			width : 1134,
			height : 470,
			play : {
				active : true,
				auto : true,
				interval : 4000,
				swap : true
			}
		});

	});
</script>
<style>
input:focus {
	outline: none;
}
</style>
</head>
<body>
	<div id="wrap" class="main">

		<div class="header" th:fragment="header"
			style="position: fixed; z-index: 999; background-color: white; top: 0%;">
	
			<div class="top">
				<div class="logo">
					<a href="/"><img src="images/Bobbing-logo-sub.png"
						alt="밥빙 logo" /></a>
				</div>
				<div class="heaer-gnb">
					<ul>
						<li><a th:href="@{/doReviewList}">리뷰</a></li>
						<li><a th:href="@{/rank(followerMe=${session[username]})}">랭킹</a></li>
						<li><a th:href="@{/getCampaignList}">캠페인</a></li>
					</ul>
				</div>
				<div class="heaer-search">

					<form action="search" enctype="multipart/form-data">
						<div class="fl MainSearch">
							<select th:name="types">
								<option th:value="review" selected="selected">리뷰</option>
								<option th:value="user">유저</option>
								<option th:value="campaign">캠페인</option>
								<option th:value="advertisement">맛집</option>
							</select> <label class="hidden" for="">검색어입력</label> <input
								name="searchKeyword" class="input_type2" id=""
								style="width: 320px;" type="text" maxlength="100"
								placeholder="검색어를 입력하세요."> <a href="#"><input
								type="image" value="submit" src="images/icon-search.png"
								class="fl"></a>
						</div>

					</form>
				</div>


						
						

					</div>


				<th:block
					th:if="${session['uservo']} == null and ${session['advertisementvo'] == null}">
					<div class="login-btnR">
						<a href="/login" class="login">로그인</a> ㅣ <a href="/joinForm"
							class="join">회원가입</a>
					</div>
				</th:block>

				<!-- 기업 회원일 때 -->
				<th:block th:if="${session['advertisementvo'] != null}">
					<div class="login-btnR">
						<a th:href="@{/getAdvertisementMyPage(advertisementemail=${session[advertisementvo].advertisement_email})}" class="login">마이 페이지</a> ㅣ <a
							href="/logout" class="join">로그아웃</a>
					</div>
				</th:block>
				<!-- 일반 회원일 때 -->
				<th:block th:if="${session['uservo'] != null}">
					<div class="login-btnR">
						<a th:href="@{/getUserMyPage(nickname=${session[username]}, followerMe=${session[username]})}" class="login">마이 페이지</a> ㅣ <a
							href="/logout" class="join">로그아웃</a>
					</div>
				</th:block>

			</div>
		</div>
		<div class="footer-area">
			<div class="footer">

				<button class="top-btn" id="top-btn"

					style="position: fixed; margin-right: 1px; top: 94%; float: right; border: none; width: 50px; height: 49px; background-size: 100%;"></button>

			</div>
		</div>
		<script type="text/javascript">
			$(".dropdown dt a").click(function() {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function() {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
			});
		</script>


</body>
</html>
