<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>리뷰 목록</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/common/css/styles.css" th:href="@{/common/css/styles.css}" type="text/css">
<link rel="stylesheet" href="/common/css/styles.css" th:href="@{/common/css/review.css}" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div id="wrap" class="main">
		<div th:replace="/include/header.html :: header"></div>
		<div class="reviewWriteForm">
			<form action="insertReview" method="post">
				<input type="hidden" name="userId" th:value="${session['uservo'].userId}">
				<input type="hidden" name="nickName" th:value="${session['uservo'].nickname}">
				<table class="reviewWriteTable">
					<tr>
						<td style="width: 950px;" colspan="3"><input
							class="reviewWriteTitle" name="title" type="text"></td>
					</tr>

					<tr>
						<td style="width: 350px;" colspan="1"><div class="fileDrop">여기에
								그림파일을 드래그해주세요</div></td>
						<td style="width: 600px;" colspan="2"><div
								class="uploadedList"></div></td>
					</tr>
					<tr>
						<td colspan="3"><textarea class="reviewWriteTextarea"
								name="advantages" placeholder="장점을 입력해주세요"></textarea></td>
					<tr>
					<tr>
						<td colspan="3"><textarea class="reviewWriteTextarea"
								name="disadvantages" placeholder="단점을 입력해주세요"></textarea></td>
					<tr>
					<tr>
						<td></td>
						<td style="text-align: right;"><span><input
								class="reviewWriteSubmitBtn" type="submit" value="리뷰 등록"></span><span>
								<input class="reviewWriteCancleBtn" type="button"
								th:value="취소하기" onclick="location.href='/doReviewList'">
						</span></td>
					</tr>
				</table>

			</form>
		</div>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
		<script>
      
      $(document).ready(
            function() {
               $(".fileDrop").on("dragenter dragover", function(event) {
                  event.preventDefault(); //기본 효과를 막음
               });
               //event :JQeury의 이벤트
               //originalEvent :javascript의 이벤트
               $(".fileDrop").on("drop", function(event) {
                  event.preventDefault(); //기본효과를 막음
//                   alert("jj");
                  //드래그된 파일의 정보
                  var files = event.originalEvent.dataTransfer.files;
                  //첫번째 파일
                  var file = files[0];
                  //콘솔에서 파일 정보 확인
                  console.log(file);

                  //ajax로 전달할 폼 객체
                  var formData = new FormData();
                  //폼 객체에 파일 추가, append("변수명", 값)
                  formData.append("file", file);
               

			$.ajax({
                type : "post",
                url : "/uploadAjax", // 매핑주소
                data : formData,
                //prosessData: true=>get방식, false=> post방식
                dataType : "text",
                // contentType : true => application/x-www-form-urlencoded,
                //      false => multipart/form-data
                processData : false,
				contentType : false,
                success : function(data) {
                     var srt = "";
                     //이미지 파일이면 썸네일 이미지 출력
                     if (checkImageType(data)) {
                        str = "<div><a href='/displayFile?fileName="
                              + getImageLink(data) + "'>";
                        str += "<img src='/displayFile?fileName="
                              + data + "'></a>";
                        str += "<input name='imgSrc' type='hidden' value="
                    		+ data + ">";
                    //일반 파일이면 다운로드 링크               
                    } else {
                    str = "<div><a href='/displayFile?FileName="
                              + data + "'>" + getOriginalName(data)
                              + "</a>";
                        

                    }
                    //삭제버튼
                    str += "&nbsp;&nbsp;"
                    str += "<textarea class='reviewImgTextare' rows='6' cols='10' name='imgReview'></textarea>";
                    str += "<span style='cursor: pointer;' data-src="+data+">[삭제]</span>";
                    str += "<br>";
					str += "</div>"
					str += "<br>";
                        
                     $(".uploadedList").append(str);
                  }
               });

            });

      $(".uploadedList").on("click", "span", function(event) {
         alert("이미지 삭제")
         var that = $(this); // 여시거 this는 클릭한 span태그
         $.ajax({
            url : "deleteFile",
            type : "post",
            //data:"fileName="+$(this).attr("data-src") = {fileName:$(this).attr("data-src")}
            //태그 .attr("속성")
            data : {
               fileName : $(this).attr("data-src")
            }, //json방식
            dataType : "text",
            success : function(result) {
               if (result == "deleted") {
                  //클릭한 span태그가 속한 div제거
                  that.parent("div").remove();
               }
            }

         });

      });
      
      

      function getOriginalName(fileName) {
         //이미지 파일이면
         if (checkImageType(fileName)) {
            return; //함수 종료         
         }
         //uuid를 제외한 원래 파일 이름을 리턴
         var idx = fileName.insexOf("_") + 1;
         return fileName.substr(idx);
      }

      function getImageLink(fileName) {
         //이미지 파일이 아니면
         if (!checkImageType(fileName)) {
            return; //함수 종료
         }
         //이미지 파일이면 (썸네일이 아닌 원본 이미지를 가져오기 위해)
         //썸네일 이미지 파일명 - 파일경로+파일명
         var front = fileName.substr(0, 12); //년 원 일 경로 추출
         var end = fileName.substr(14); // 년 월 일 뎡로와 s_를 제거한 원본 파일명을 추출
         console.log(front); // 2019/09/01
         console.log(end);
         //원본 파일명
         return front + end; //디렉토리를 포함한 원본 파일명을 리턴

      }

      function checkImageType(fileName) {
         // i: ignore case(대소문자 무관)
         var pattern = /jpg|gif|png|jpeg/i; //정규식 표현
         return fileName.match(pattern); //규칙이 맞으면  true      
      }
            });
   </script>
	</div>
</body>
</html>