/* .floatClear{} */

/* .floatClear::after{content:'';display:block;clear:both;} */

/* #layer_11 { */
/* 	float:left; */
/* 	width: 316px; */
/* 	height: 43px; */
/* 	line-height:43px; */
/* 	z-index: 11; */
/* } */

/* #layer_12 { */
/* 	float:left; */
/* 	width: 316px; */
/* 	height: 43px; */
/* 	line-height:43px; */
/* 	z-index: 12; */
/* } */

/* #Shape740copy2 { */
/* 	float:left; */
/* 	width: 316px; */
/* 	height: 8px; */
/* 	z-index: 3; */
/* } */
/* #Shape740copy2 img{ */
/* 	width:100%; */
/* } */

/* #Shape740copy { */
/* 	float:left; */
/* 	width: 316px; */
/* 	height: 8px; */
/* 	z-index: 4; */
/* } */
/* #Shape740copy img{ */
/* 	width:100%; */
/* } */

/* .loginForm{margin-top:76px;} */


/* #copy2 { */
/* 	left: 500px; */
/* 	top: 626px; */
/* 	position: absolute; */
/* 	width: 421px; */
/* 	height: 59px; */
/* 	z-index: 9; */
/* 	color: #000 !important; */
/* 	background-color: #ccc !important */
/* } */

/* #logoBack{ */
/* 	background-color: #fff; */
/*     border: none; */
/* } */